body {
    font-family: sans-serif;
}

header {
    background-color: dodgerblue;
    color: white
}

li {
    list-style: none;
    display: inline;
    
}

header > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

